---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Monji Blog";
---
<BaseLayout pageTitle={pageTitle}>
	<h1 class="text-6xl text-center font-bold mt-11">Monji Blog</h1>
	<section class="flex flex-col mt-11">
		<article class="border border-black"></article>
	</section>
</BaseLayout>