---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";

const allPosts = await Astro.glob("./posts/*.md");

const pageTitle = "Monji Blog";
---
<BaseLayout pageTitle={pageTitle}>
	<main>
		<h1 class="text-6xl text-center font-semibold mt-11 mx-8">Monji Blog</h1>
		<section class="flex flex-col mt-9 gap-8">
			{allPosts.map(post => <BlogPost title={post.frontmatter.title} imagePath={post.frontmatter.imagePath} url={post.url} />)}
			<!-- <article class="bg-white border border-black mx-8 p-7 pb-5 rounded-[2rem] shadow-[0.25rem_0.25rem_0] shadow-black relative bottom-0 right-0 hover:bottom-1 hover:right-1 hover:shadow-[0.5rem_0.5rem_0] transition-all">
				<img src="#" alt="image" class="w-full bg-neutral-300 border border-black rounded-2xl aspect-square">
				<h2 class="mt-4 font-semibold text-4xl">Why Svelte Is Great?</h2>
			</article> -->
		</section>
	</main>
</BaseLayout>